In [1]:
import pandas as pd
import numpy as np

# disable warnings
import warnings
warnings.filterwarnings('ignore')

csv_file = '../ukb52305.csv'
data = pd.read_csv(csv_file, nrows=100)

In [2]:
cols = ['21022']
to_retrieve = ['eid']
for col in cols:
    for data_col in data.columns:
        if col in data_col:
            to_retrieve.append(data_col)

print(f"Found {len(to_retrieve)} columns to be retrieved: {to_retrieve}")

age_df = pd.read_csv(csv_file, usecols=to_retrieve)

Found 2 columns to be retrieved: ['eid', '21022-0.0']

In [3]:
age_df = age_df.dropna()
age_df

            eid  21022-0.0
2       1000012       46.0
3       1000029       62.0
4       1000031       62.0
5       1000047       68.0
6       1000050       49.0
...         ...        ...
502406  6024893       44.0
502407  6024902       44.0
502408  6024915       41.0
502409  6024921       45.0
502410  6024933       66.0

[502408 rows x 2 columns]

In [4]:
age_df.to_csv('../data/age.csv', index=False)