In [2]:
import pandas as pd
import numpy as np

# disable warnings
import warnings
warnings.filterwarnings('ignore')

csv_file = '../ukb52305.csv'
data = pd.read_csv(csv_file, nrows=100)

In [3]:
cols = ['6138']
to_retrieve = ['eid']
for col in cols:
    for data_col in data.columns:
        if col in data_col:
            to_retrieve.append(data_col)

print(f"Found {len(to_retrieve)} columns to be retrieved: {to_retrieve}")

Found 25 columns to be retrieved: ['eid', '6138-0.0', '6138-0.1', '6138-0.2', '6138-0.3', '6138-0.4', '6138-0.5', '6138-1.0', '6138-1.1', '6138-1.2', '6138-1.3', '6138-1.4', '6138-1.5', '6138-2.0', '6138-2.1', '6138-2.2', '6138-2.3', '6138-2.4', '6138-2.5', '6138-3.0', '6138-3.1', '6138-3.2', '6138-3.3', '6138-3.4', '6138-3.5']

In [13]:
education_df = pd.read_csv(csv_file, usecols=to_retrieve)[['eid', '6138-0.0']].dropna()

In [14]:
education_df

            eid  6138-0.0
2       1000012       3.0
3       1000029       1.0
4       1000031       1.0
5       1000047       1.0
7       1000068      -7.0
...         ...       ...
502406  6024893       3.0
502407  6024902       3.0
502408  6024915       2.0
502409  6024921      -3.0
502410  6024933       5.0

[497769 rows x 2 columns]

In [15]:
education_df.to_csv('../data/education.csv', index=False)