In [1]:
import pandas as pd
import numpy as np

# disable warnings
import warnings
warnings.filterwarnings('ignore')

csv_file = '../ukb52305.csv'
data = pd.read_csv(csv_file, nrows=100)

In [10]:
cols = ['31-0.0']
to_retrieve = ['eid']
for col in cols:
    for data_col in data.columns:
        if col == data_col:  # use == instead of in as there are a lot of columns with 31-0.0
            to_retrieve.append(data_col)

print(f"Found {len(to_retrieve)} columns to be retrieved: {to_retrieve}")

gender_df = pd.read_csv(csv_file, usecols=to_retrieve)

Found 2 columns to be retrieved: ['eid', '31-0.0']

In [13]:
# 0 is Female, 1 is Male
gender_df['31-0.0'].value_counts()

0    273325
1    229086
Name: 31-0.0, dtype: int64

In [15]:
gender_df = gender_df.dropna()
gender_df

            eid  31-0.0
0       6024949       0
1       6024957       1
2       1000012       1
3       1000029       1
4       1000031       1
...         ...     ...
502406  6024893       0
502407  6024902       1
502408  6024915       1
502409  6024921       0
502410  6024933       1

[502411 rows x 2 columns]

In [16]:
gender_df.to_csv('../data/gender.csv', index=False)